<a href="#" class="announcement-anchor">
    <div class="alert announcement-badge-icon">
        <img id="announcement-icon-to-white" [style.filter] = "isEnteredAnc ? 'brightness(0) invert(1)' : 'none'" class="alert-icon" src="../../assets/image/icons/announcements.svg" alt="">
        <div id="announcement-number-badge" class="badge-number" *ngIf="!isEnteredAnc">
            1
        </div>
        <div class="announcement-div" id="{{isEnteredAnc ? 'announcement-div-hover' : ''}}">
            <div class="announcement-subdiv">
                <ul class="announcement-list">
                    <li class="announcement-seen">
                        <div>
                            <div class="line1 line">
                                <div class="from">
                                    PA: &nbsp;<span>Wilson Kumar</span>
                                </div>
                                <div class="is-shown-icon"> 
                                </div>
                            </div>
                            <div class="line2 line">
                                <div>
                                    No classes will be held on 21st Nov
                                </div>

                            </div>
                            
                            <div class="line4 line">
                                <div class="attach">
                                    <img src="../../assets/image/icons/attachment.png" alt="">
                                    <span>2 files are attached</span>
                                </div>
                                <div class="announce-date">
                                    15-Sep-2018 at 07:21 pm
                                </div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="line1 line">
                                <div class="from">
                                    PA: &nbsp;<span>Wilson Kumar</span>
                                </div>
                                <div class="is-shown-icon"> 
                                </div>
                            </div>
                            <div class="line2 line">
                                <div>
                                    Guest lecture on Geometry on 20th September
                                </div>

                            </div>

                            <div class="line4 line">
                                <div class="attach">
                                    <img src="../../assets/image/icons/attachment.png" alt="">
                                    <span>2 files are attached</span>
                                </div>
                                <div class="announce-date">
                                    15-Sep-2018 at 07:21 pm
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="announcement-seen">
                        <div>
                            <div class="line1 line">
                                <div class="from">
                                    PA: &nbsp;<span>Wilson Kumar</span>
                                </div>
                                <div class="is-shown-icon"> 
                                </div>
                            </div>
                            <div class="line2 line">
                                <div>
                                    Additional course materials available on request
                                </div>

                            </div>
                            <div class="line3 line">
                                Course: Mathematics 101
                            </div>

                            <div class="line4 line">
                                <div class="attach"> 
                                </div>
                                <div class="announce-date">
                                    15-Sep-2018 at 07:21 pm
                                </div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="line1 line">
                                <div class="from">
                                    PA: &nbsp;<span>Wilson Kumar</span>
                                </div>
                                <div class="is-shown-icon"> 
                                </div>
                            </div>
                            <div class="line2 line">
                                <div>
                                    No classes will be held on 25th Dec
                                </div>

                            </div>

                            <div class="line4 line">
                                <div class="attach"> 
                                </div>
                                <div class="announce-date">
                                    15-Sep-2018 at 07:21 pm
                                </div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="line1 line">
                                <div class="from">
                                    PA: &nbsp;<span>Wilson Kumar</span>
                                </div>
                                <div class="is-shown-icon"> 
                                </div>
                            </div>
                            <div class="line2 line">
                                <div>
                                    No classes will be held on 21st Nov
                                </div>

                            </div>

                            <div class="line4 line">
                                <div class="attach">
                                    <img src="../../assets/image/icons/attachment.png" alt="">
                                    <span>2 files are attached</span>
                                </div>
                                <div class="announce-date">
                                    15-Sep-2018 at 07:21 pm
                                </div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div>
                            <div class="line1 line">
                                <div class="from">
                                    PA: &nbsp;<span>Wilson Kumar</span>
                                </div>
                                <div class="is-shown-icon"> 
                                </div>
                            </div>
                            <div class="line2 line">
                                <div>
                                    No classes will be held on 21st Nov
                                </div>

                            </div>

                            <div class="line4 line">
                                <div class="attach">
                                    <img src="../../assets/image/icons/attachment.png" alt="">
                                    <span>2 files are attached</span>
                                </div>
                                <div class="announce-date">
                                    15-Sep-2018 at 07:21 pm
                                </div>
                            </div>

                        </div>
                    </li>
                    
                </ul>

                <div class="announcement-buttons">
                    <button>
                        SHOW ALL
                    </button>
                    <div class="verticle-border">

                    </div>
                    <button>
                        CREATE NEW
                    </button>
                </div>

            </div>

        </div>
    </div>
</a>