@import "../../../assets/style";

.header {

    font-family: quicksand-semibold;

    ::-webkit-scrollbar {
        width: 4px;
    }
      
    ::-webkit-scrollbar-track {
        background: inherit; 
    }
    
    ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.38); 
        border-radius: 6px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.501); 

    }

    position: relative;

    @include boxSize(auto, 56px);
    opacity: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
                       rgba(0, 0, 0, 0.7)), url("/assets/image/header_pattern.png");
    opacity: 100%;
    @include flexCenter();
    justify-content: space-between;
    border-bottom: 2.4px solid $borderBottomColor;
    font-family: quicksand-bold;
    padding-right: 24px;
    padding-left: 24px;

    .logo {
        display: flex;
        align-items: center;
    }
    
    .nav-items {
        list-style-type: none;
        @include flexCenter();
        margin-top: 0;
        margin-bottom: 0;
        height: 100%;

        #alert-list {
            cursor: pointer;
        }

        #announcement-list {
            cursor: pointer;
        }

        li {
            margin-left: 32px;
            font-size: 14px;
            opacity: 100%;
            @include flexCenter();
            height: 100%;

            a {
                color: $buttonBackgroundColor;
                text-decoration: none;

                
            }

            

            .alert {
                
                display: flex;
                align-items: center;
                
                position: relative;

                .badge-number {
                    @include flexCenter();
                    color: $whiteColor;
                    font-size: 12px;
                    @include boxSize(17px, 17px);
                    background-color: $badgeColor;
                    border-radius: 50%;
                    position: absolute;
                    top: 0px;
                    right: 0;
                }
            }

            
            
            

            
            .user-badge-icon {
                @include boxSize(35px, 37px);

                #user {
                    @include boxSize(28px, 28px);
                    border: 2px solid $buttonBackgroundColor;
                    border-radius: 50%;
                }

                .badge-text {
                    @include flexCenter();
                    font-size: 10px;
                    @include boxSize(16px, 16px);
                    background-color: $whiteColor;
                    color: $darkFont;
                    border-radius: 50%;
                    position: absolute;
                    top: 0px;
                    right: 0;
                }
            }

        }

        

        #hamburger-list {
            display: none;
            cursor: pointer;

            #verticle-navbar {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
                transition-delay: 0s, 0s, 0.1s;
            }

            .verticle-nav {
                visibility:hidden;
                opacity: 0;
                z-index: 2;
                position: absolute;
                transform: translateY(-3em);
                transition: all 0.3s ease 0s, visibility 0s linear 0.05s, z-index 0.3s linear 0.01s;

                width: 280px;
                box-shadow: 0px 13px 20px #0000003D;
                background-color: $whiteColor;
                top: 59px;
                right: 16px;   
                border-radius: 2px;
    
                ul {
                    
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    li {
                        transition: all 0.3s ease;
                        margin: 0;
                        display: block;
                        padding: 15px 24px 15px 16px;
                        div {
                            a {
                                font-size: 14px;
                                color: $greenText;
                                text-decoration: none;
                            }
                        }
                        ul {
                            display: none;
                        }
                    }
                    .selected {
                        background-color: #F3F3F3;
                    
                        padding-bottom: 0;
                        div {
                            padding-bottom: 15px;

                            div {
                                transition: all 0.3s ease;
                                transform: rotate(180deg);
                            }
                        }
                        ul {
                            padding: 0;
                            margin: 0;
                            display: block;

                            li {
                                margin: 0;
                                display: block;
                                height: 18px;
                                padding: 15px 24px 15px 16px;
                                a {
                                    font-size: 14px;
                                    color: $greenText;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                    .hamburger-item { 
                        div {
                            display: flex;
                            justify-content: space-between;
                            div {
                                padding: 0;
                                width: 12px;
                                height: 12px;
                                transition: all 0.3s ease;
                                background-image: url("/assets/image/icons/down-arrow.svg");
                                background-size: 12px;
                                background-position: top right;
                                background-repeat: no-repeat;
                                filter: invert(42%) sepia(8%) saturate(2891%) hue-rotate(103deg) brightness(91%) contrast(100%);
                            }
                        }
                    }
                }
            }
        }
    }

    #dashboard {
        color: $whiteColor;
        font-size: 14px;
        border-bottom: 4px solid $whiteColor;
        height:fit-content;
        padding-bottom: 15px;
        padding-top: 19px;
        align-self: center;
    }
}

@media (max-width: 880px) {
    .header {
        min-width: 480px;
    }
    
    .header {
        .nav-items {
            .big {
                display: none;
            }
        }
    }
    .header {
        .nav-items {
            #hamburger-list {
                display: flex;

            }
        }
    }
}