<Nav class="header">
    <div class="logo">
        <img src="../../assets/image/icons/header_logo.svg" alt="">
    </div>
    <ul class="nav-items" *ngIf="isAuthenticated">
        <li id="dashboard" class="big"><a href="#">DASHBOARD</a> </li>
        <li class="big"><a href="#">CONTENT</a></li>
        <li class="big"><a href="#">USERS</a></li>
        <li class="big"><a href="#">REPORT</a></li>
        <li class="big"><a href="#">ADMIN</a></li>
        <li id="alert-list">
            <a href="#" class="alert-anchor">
                <div class="alert alert-badge-icon">
                    <img id="alert-icon-to-white" class="alert-icon" src="../../assets/image/icons/alerts.svg" alt="">
                    <div id="alert-number-badge" class="badge-number">
                        2
                    </div>
                    <div class="alert-div">
                        <div class="alert-subdiv">
                            <ul class="alert-list">
                                <li>
                                    <div>
                                        <div class="line1 line">
                                            <div>
                                                No classes will be held on 21st Nov
                                            </div>
                                            <div class="is-shown-icon">
                                                <!-- <img src="../image/icons/checkbox-checked.svg" alt=""> -->
                                            </div>
        
                                        </div>

                                        
                                        <div class="line3 line">
                                            <div class="announce-date">
                                                15-Sep-2018 at 07:21 pm
                                            </div>
                                        </div>
        
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="line1 line">
                                            <div>
                                                No classes will be held on 21st Nov
                                            </div>
                                            <div class="is-shown-icon">
                                                <!-- <img src="../image/icons/checkbox-checked.svg" alt=""> -->
                                            </div>
        
                                        </div>

                                        <div class="line2 line">
                                            <span> Course:</span> Mathematics 101
                                        </div>
                                        
                                        <div class="line3 line">
                                            <div class="announce-date">
                                                15-Sep-2018 at 07:21 pm
                                            </div>
                                        </div>
        
                                    </div>
                                </li>
                                <li class="alert-seen">
                                    <div>
                                        <div class="line1 line">
                                            <div>
                                                No classes will be held on 21st Nov
                                            </div>
                                            <div class="is-shown-icon">
                                                <!-- <img src="../image/icons/checkbox-checked.svg" alt=""> -->
                                            </div>
        
                                        </div>
                                        
                                        <div class="line3 line">
                                            <div class="announce-date">
                                                15-Sep-2018 at 07:21 pm
                                            </div>
                                        </div>
        
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="line1 line">
                                            <div>
                                                No classes will be held on 21st Nov
                                            </div>
                                            <div class="is-shown-icon">
                                                <!-- <img src="../image/icons/checkbox-checked.svg" alt=""> -->
                                            </div>
        
                                        </div>

                                        <div class="line2 line">
                                            <span>Class:</span> Basics of Algebra
                                        </div>
                                        
                                        <div class="line3 line">
                                            <div class="announce-date">
                                                15-Sep-2018 at 07:21 pm
                                            </div>
                                        </div>
        
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="line1 line">
                                            <div>
                                                No classes will be held on 21st Nov
                                            </div>
                                            <div class="is-shown-icon">
                                                <!-- <img src="../image/icons/checkbox-checked.svg" alt=""> -->
                                            </div>
        
                                        </div>
                                        
                                        <div class="line3 line">
                                            <div class="announce-date">
                                                15-Sep-2018 at 07:21 pm
                                            </div>
                                        </div>
        
                                    </div>
                                </li>
                                <li class="alert-seen">
                                    <div>
                                        <div class="line1 line">
                                            <div>
                                                No classes will be held on 21st Nov
                                            </div>
                                            <div class="is-shown-icon">
                                                <!-- <img src="../image/icons/checkbox-checked.svg" alt=""> -->
                                            </div>
        
                                        </div>

                                        <div class="line2 line">
                                            <span>Course:</span> Advanced Mathematics
                                        </div>
                                        
                                        <div class="line3 line">
                                            <div class="announce-date">
                                                15-Sep-2018 at 07:21 pm
                                            </div>
                                        </div>
        
                                    </div>
                                </li>
                                <li class="alert-seen">
                                    <div>
                                        <div class="line1 line">
                                            <div>
                                                No classes will be held on 21st Nov
                                            </div>
                                            <div class="is-shown-icon">
                                                <!-- <img src="../image/icons/checkbox-checked.svg" alt=""> -->
                                            </div>
        
                                        </div>

                                        <div class="line2 line">
                                            <span>Course:</span> Advanced Mathematics
                                        </div>
                                        
                                        <div class="line3 line">
                                            <div class="announce-date">
                                                15-Sep-2018 at 07:21 pm
                                            </div>
                                        </div>
        
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="line1 line">
                                            <div>
                                                No classes will be held on 21st Nov
                                            </div>
                                            <div class="is-shown-icon">
                                                <!-- <img src="../image/icons/checkbox-checked.svg" alt=""> -->
                                            </div>
        
                                        </div>

                                        <div class="line2 line">
                                            <span>Course:</span> Advanced Mathematics
                                        </div>
                                        
                                        <div class="line3 line">
                                            <div class="announce-date">
                                                15-Sep-2018 at 07:21 pm
                                            </div>
                                        </div>
        
                                    </div>
                                </li>
                                
                            </ul>

                            <div class="alert-buttons">
                                <button>
                                    SHOW ALL
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
            </a>
        </li>

        <li id="announcement-list">
            <a href="#" class="announcement-anchor">
                <div class="alert announcement-badge-icon">
                    <img id="announcement-icon-to-white" class="alert-icon" src="../../assets/image/icons/announcements.svg" alt="">
                    <div id="announcement-number-badge" class="badge-number">
                        1
                    </div>
                    <div class="announcement-div">
                        <div class="announcement-subdiv">
                            <ul class="announcement-list">
                                <li class="announcement-seen">
                                    <div>
                                        <div class="line1 line">
                                            <div class="from">
                                                PA: &nbsp;<span>Wilson Kumar</span>
                                            </div>
                                            <div class="is-shown-icon">
                                                <!-- <img src="../image/icons/checkbox-checked.svg" alt=""> -->
                                            </div>
                                        </div>
                                        <div class="line2 line">
                                            <div>
                                                No classes will be held on 21st Nov
                                            </div>
        
                                        </div>
                                        
                                        <div class="line4 line">
                                            <div class="attach">
                                                <img src="../../assets/image/icons/attachment.png" alt="">
                                                <span>2 files are attached</span>
                                            </div>
                                            <div class="announce-date">
                                                15-Sep-2018 at 07:21 pm
                                            </div>
                                        </div>
        
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="line1 line">
                                            <div class="from">
                                                PA: &nbsp;<span>Wilson Kumar</span>
                                            </div>
                                            <div class="is-shown-icon">
                                                <!-- <img src="../image/icons/checkbox-checked.svg" alt=""> -->
                                            </div>
                                        </div>
                                        <div class="line2 line">
                                            <div>
                                                Guest lecture on Geometry on 20th September
                                            </div>
        
                                        </div>
        
                                        <div class="line4 line">
                                            <div class="attach">
                                                <img src="../../assets/image/icons/attachment.png" alt="">
                                                <span>2 files are attached</span>
                                            </div>
                                            <div class="announce-date">
                                                15-Sep-2018 at 07:21 pm
                                            </div>
                                        </div>
        
                                    </div>
                                </li>
                                <li class="announcement-seen">
                                    <div>
                                        <div class="line1 line">
                                            <div class="from">
                                                PA: &nbsp;<span>Wilson Kumar</span>
                                            </div>
                                            <div class="is-shown-icon">
                                                <!-- <img src="../image/icons/checkbox-checked.svg" alt=""> -->
                                            </div>
                                        </div>
                                        <div class="line2 line">
                                            <div>
                                                Additional course materials available on request
                                            </div>
        
                                        </div>
                                        <div class="line3 line">
                                            Course: Mathematics 101
                                        </div>
        
                                        <div class="line4 line">
                                            <div class="attach">
                                                <!-- <img src="../image/icons/attachment.png" alt="">
                                                <span>2 files are attached</span> -->
                                            </div>
                                            <div class="announce-date">
                                                15-Sep-2018 at 07:21 pm
                                            </div>
                                        </div>
        
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="line1 line">
                                            <div class="from">
                                                PA: &nbsp;<span>Wilson Kumar</span>
                                            </div>
                                            <div class="is-shown-icon">
                                                <!-- <img src="../image/icons/checkbox-checked.svg" alt=""> -->
                                            </div>
                                        </div>
                                        <div class="line2 line">
                                            <div>
                                                No classes will be held on 25th Dec
                                            </div>
        
                                        </div>
        
                                        <div class="line4 line">
                                            <div class="attach">
                                                <!-- <img src="../image/icons/attachment.png" alt="">
                                                <span>2 files are attached</span> -->
                                            </div>
                                            <div class="announce-date">
                                                15-Sep-2018 at 07:21 pm
                                            </div>
                                        </div>
        
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="line1 line">
                                            <div class="from">
                                                PA: &nbsp;<span>Wilson Kumar</span>
                                            </div>
                                            <div class="is-shown-icon">
                                                <!-- <img src="../image/icons/checkbox-checked.svg" alt=""> -->
                                            </div>
                                        </div>
                                        <div class="line2 line">
                                            <div>
                                                No classes will be held on 21st Nov
                                            </div>
        
                                        </div>
        
                                        <div class="line4 line">
                                            <div class="attach">
                                                <img src="../../assets/image/icons/attachment.png" alt="">
                                                <span>2 files are attached</span>
                                            </div>
                                            <div class="announce-date">
                                                15-Sep-2018 at 07:21 pm
                                            </div>
                                        </div>
        
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <div class="line1 line">
                                            <div class="from">
                                                PA: &nbsp;<span>Wilson Kumar</span>
                                            </div>
                                            <div class="is-shown-icon">
                                                <!-- <img src="../image/icons/checkbox-checked.svg" alt=""> -->
                                            </div>
                                        </div>
                                        <div class="line2 line">
                                            <div>
                                                No classes will be held on 21st Nov
                                            </div>
        
                                        </div>
        
                                        <div class="line4 line">
                                            <div class="attach">
                                                <img src="../../assets/image/icons/attachment.png" alt="">
                                                <span>2 files are attached</span>
                                            </div>
                                            <div class="announce-date">
                                                15-Sep-2018 at 07:21 pm
                                            </div>
                                        </div>
        
                                    </div>
                                </li>
                                
                            </ul>

                            <div class="announcement-buttons">
                                <button>
                                    SHOW ALL
                                </button>
                                <div class="verticle-border">

                                </div>
                                <button>
                                    CREATE NEW
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
            </a>

            

        </li>

        <li>
            <a href="#">
                <div class="alert user-badge-icon">
                    <img class="alert-icon" id="user" src="../../assets/image/icons/user.png" alt="">
                    <div class="badge-text">
                        T
                    </div>
                    
                </div>
            </a>
        </li>

        <li id="hamburger-list">
            <a class="hamburger-btn" href="#">
                <div id="hamburger">
                    <img src="../../assets/image/icons/hamburger-menu.svg" alt="">
                </div>
            </a>

            <div class="verticle-nav">
                <ul class="verticle-ul">
                    <li>
                        <div>
                            <a href="#">DASHBOARD</a>
                        </div>
                    </li>
                    <li class="hamburger-item">
                        <div>
                            <a href="#">CONTENT</a>
                            <div></div>
                        </div>
                        <ul class="sub-nav">
                            <li><a href="#"> COURSE CATALOG </a></li>
                            <!-- <li><a href="#"> COURSE CATALOG </a></li> -->
                        </ul>
                    </li>
                    <li class="hamburger-item">
                        <div>
                            <a href="#">USERS</a>
                            <div></div>
                        </div>
                        <ul class="sub-nav">
                            <li><a href="#"> COURSE CATALOG </a></li>
                            <li><a href="#"> COURSE CATALOG </a></li>
                        </ul>
                    </li>
                    <li class="hamburger-item">
                        <div>
                            <a href="#">REPORT</a>
                            <div></div>
                        </div>
                        <ul class="sub-nav">
                            <li><a href="#"> COURSE CATALOG </a></li>
                            <li><a href="#"> COURSE CATALOG </a></li>
                        </ul>
                    </li>
                    <li class="hamburger-item">
                        <div>
                            <a href="#">ADMIN</a>
                            <div></div>
                        </div>
                        <ul class="sub-nav">
                            <li><a href="#"> COURSE CATALOG </a></li>
                            <li><a href="#"> COURSE CATALOG </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

    
</Nav>
