.header {
  font-family: quicksand-semibold;
  position: relative;
  width: auto;
  height: 56px;
  opacity: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/image/header_pattern.png");
  opacity: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  border-bottom: 2.4px solid #31B9E4;
  font-family: quicksand-bold;
  padding-right: 24px;
  padding-left: 24px;
}
.header ::-webkit-scrollbar {
  width: 4px;
}
.header ::-webkit-scrollbar-track {
  background: inherit;
}
.header ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.38);
  border-radius: 6px;
}
.header ::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.501);
}
.header .logo {
  display: flex;
  align-items: center;
}
.header .nav-items {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
}
.header .nav-items #alert-list {
  cursor: pointer;
}
.header .nav-items #announcement-list {
  cursor: pointer;
}
.header .nav-items li {
  margin-left: 32px;
  font-size: 14px;
  opacity: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.header .nav-items li a {
  color: #3FD28B;
  text-decoration: none;
}
.header .nav-items li .alert {
  display: flex;
  align-items: center;
  position: relative;
}
.header .nav-items li .alert .badge-number {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 12px;
  width: 17px;
  height: 17px;
  background-color: #2A7FF3;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0;
}
.header .nav-items li .user-badge-icon {
  width: 35px;
  height: 37px;
}
.header .nav-items li .user-badge-icon #user {
  width: 28px;
  height: 28px;
  border: 2px solid #3FD28B;
  border-radius: 50%;
}
.header .nav-items li .user-badge-icon .badge-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
  color: #222222;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0;
}
.header .nav-items #hamburger-list {
  display: none;
  cursor: pointer;
}
.header .nav-items #hamburger-list #verticle-navbar {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s, 0s, 0.1s;
}
.header .nav-items #hamburger-list .verticle-nav {
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  position: absolute;
  transform: translateY(-3em);
  transition: all 0.3s ease 0s, visibility 0s linear 0.05s, z-index 0.3s linear 0.01s;
  width: 280px;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  background-color: #FFFFFF;
  top: 59px;
  right: 16px;
  border-radius: 2px;
}
.header .nav-items #hamburger-list .verticle-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header .nav-items #hamburger-list .verticle-nav ul li {
  transition: all 0.3s ease;
  margin: 0;
  display: block;
  padding: 15px 24px 15px 16px;
}
.header .nav-items #hamburger-list .verticle-nav ul li div a {
  font-size: 14px;
  color: #1F7A54;
  text-decoration: none;
}
.header .nav-items #hamburger-list .verticle-nav ul li ul {
  display: none;
}
.header .nav-items #hamburger-list .verticle-nav ul .selected {
  background-color: #F3F3F3;
  padding-bottom: 0;
}
.header .nav-items #hamburger-list .verticle-nav ul .selected div {
  padding-bottom: 15px;
}
.header .nav-items #hamburger-list .verticle-nav ul .selected div div {
  transition: all 0.3s ease;
  transform: rotate(180deg);
}
.header .nav-items #hamburger-list .verticle-nav ul .selected ul {
  padding: 0;
  margin: 0;
  display: block;
}
.header .nav-items #hamburger-list .verticle-nav ul .selected ul li {
  margin: 0;
  display: block;
  height: 18px;
  padding: 15px 24px 15px 16px;
}
.header .nav-items #hamburger-list .verticle-nav ul .selected ul li a {
  font-size: 14px;
  color: #1F7A54;
  text-decoration: none;
}
.header .nav-items #hamburger-list .verticle-nav ul .hamburger-item div {
  display: flex;
  justify-content: space-between;
}
.header .nav-items #hamburger-list .verticle-nav ul .hamburger-item div div {
  padding: 0;
  width: 12px;
  height: 12px;
  transition: all 0.3s ease;
  background-image: url("/assets/image/icons/down-arrow.svg");
  background-size: 12px;
  background-position: top right;
  background-repeat: no-repeat;
  filter: invert(42%) sepia(8%) saturate(2891%) hue-rotate(103deg) brightness(91%) contrast(100%);
}
.header #dashboard {
  color: #FFFFFF;
  font-size: 14px;
  border-bottom: 4px solid #FFFFFF;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 15px;
  padding-top: 19px;
  align-self: center;
}

@media (max-width: 880px) {
  .header {
    min-width: 480px;
  }
  .header .nav-items .big {
    display: none;
  }
  .header .nav-items #hamburger-list {
    display: flex;
  }
}/*# sourceMappingURL=header.component.css.map */