@import "../../../assets/style";

.container {
     
    min-height: 80vh; 

    .section {
        width: 100%;
        @include flexCenter();
        flex-direction: column; 

        .courses-heading {
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-bottom: $lightBorder;
            padding-bottom: 17px;
        
            .num {
                color: #686868;
                font-size: 12px;
                align-self: flex-end;
            }
        
            .sort {
                display: flex;
                align-items: center;
                color: #686868;
                font-size: 12px;
        
                .select {
                    width: 166px;
                    border: none;
                    background-color: $backgroundColor;
                    font-family: quicksand-semibold;
                    font-size: 16px;
                    appearance: none;
                    color: $darkFont;
                    background-image: url("/assets/image/icons/arrow-down.svg");
                    background-repeat: no-repeat;
                    border-bottom: $lightBorder;
                    background-position: right 0px center;
                    margin-left: 6px;
                    padding-bottom: 4px;
                    margin-right: 24px;
                }
                
                .no-outline:focus {
                    outline: none;
                }
            }
            
        }

        .main-content {
            width: 100%;
            margin-top: 16px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(475px, 1fr));
            
            grid-gap: 25px 24px;

            .content1 { 
                background-color: $whiteColor;
                padding: 24px 16px 0px 24px;
                font-size: 12px;
                color: $lightFont;
            }

            .expired-content {
                position: relative;
        
                
            }
        }

    }
    
    
    @include boxSize(auto, 100%);
    background-color: $backgroundColor;
    padding: 24px 24px 33px 24px;

    .overview {
        width: 100%;
        background-color: $overviewBackgroundColor;
        height: 64px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        margin-bottom: 24px;
        border-radius: 2px;

        .courses {
            @include flexCenter();

            .overview-span {
                font-family: quicksand-bold;
                font-size: 24px;
                margin-left: 10px;
                margin-right: 6px;
            }
        }

        .course {
            @include boxSize(100%, 60px);
            margin-top: auto;
            border-bottom: 4px solid $darkFont;
        }

    }

    .courses-heading {
        width: 100%;
    }

}

@media (max-width: 1040px) {

    .main-content {
        max-width: 700px;
    }
}

@media (min-width: 1125px) {

    .main-content {
        max-width: 1200px;
    }
}

@media (min-width: 1540px) {

    .main-content {
        max-width: 1850px;
    }
}

@media (min-width: 2100px) {

    .main-content {
        max-width: 100%;
    }
}

@media (max-width: 880px) {
    .container {
        min-width: 480px;
    }
    app-header {
        min-width: 480px;
    }
}

