@import "../../../assets/style";

.expired-badge {
    font-family: quicksand-bold;
    padding: 4px 7px 2px 5px;
    font-size: 10px;
    background-color: $expiredBackgroundColor;
    color: $expiredFontColor;
    position: absolute;
    top: 0;
    left: 0;
}

// .main-content {
//     width: 100%;
//     margin-top: 16px;
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(475px, 1fr));
    
//     grid-gap: 25px 24px;

//     .content1 { 
//         background-color: $whiteColor;
//         padding: 24px 16px 0px 24px;
//         font-size: 12px;
//         color: $lightFont;

.description {
    display: flex;
    align-items: flex-start;
    margin-bottom: 18px;

    .course-text {
        width: 100%;
        margin-left:16px;

        .title {
            color: $darkFont;
            font-size: 16px;    
            font-family: quicksand-bold;
            margin-bottom: 7px;
        }

        .sub-grade {
            margin-bottom: 7px;

            .subject {
                border-right: $lightBorder;
                padding-right: 9px;
                margin-right: 8px;
            }

            .min {
                color: $greenText;
            }
        }
        .cap-dur {

            .duration {
                border-left: $lightBorder;
                margin-left: 8px;
                padding-left: 8px;
            }
            
        }

        .size {
            margin-bottom: 16px;

            .size-num {
                color: black;
                font-family: quicksand-bold;
            }
        }

        .div-select {
            width: 100%;
            border: none;
            background-color: $whiteColor;
            font-family: quicksand-semibold;
            font-size: 16px;
            appearance: none;
            color: $darkFont;
            background-image: url("../../../assets/image/icons/arrow-down.svg");
            background-repeat: no-repeat;
            border-bottom: $lightBorder;
            background-position: right center;
            padding-bottom: 4px;
            margin-bottom: 8px;
        }

        .no-outline:focus {
            outline: none;
        }
    }

    .unfavourite {
        filter: brightness(10%);
        opacity: 10%;
    }
}

.horizontle-border {
    border-top: $lightBorder;
    margin-right: 8px;
}

.icons {
    .unavailable-icon { 
        opacity: 50%;
    }
    button {
        background-color: $formBackgroundColor;
        border: none;
        cursor: pointer;
    }
    @include flexCenter();
    justify-content: space-between;
    margin: 18px 32px 9px 24px;
    
}
