
    <a href="#" class="alert-anchor">
        <div class="alert alert-badge-icon">
            <img id="alert-icon-to-white" [style.filter] = "isEntered ? 'brightness(0) invert(1)' : 'none'" class="alert-icon" src="../../assets/image/icons/alerts.svg" alt="">
            <div id="alert-number-badge" class="badge-number" *ngIf="!isEntered">
                2
            </div>
            <div class="alert-div" id="{{isEntered ? 'alert-div-hover' : ''}}">
                <div class="alert-subdiv">
                    <ul class="alert-list">
                        <li>
                            <div>
                                <div class="line1 line">
                                    <div>
                                        No classes will be held on 21st Nov
                                    </div>
                                    <div class="is-shown-icon">
                                      
                                    </div>

                                </div>

                                
                                <div class="line3 line">
                                    <div class="announce-date">
                                        15-Sep-2018 at 07:21 pm
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="line1 line">
                                    <div>
                                        No classes will be held on 21st Nov
                                    </div>
                                    <div class="is-shown-icon">
                                        
                                    </div>

                                </div>

                                <div class="line2 line">
                                    <span> Course:</span> Mathematics 101
                                </div>
                                
                                <div class="line3 line">
                                    <div class="announce-date">
                                        15-Sep-2018 at 07:21 pm
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="alert-seen">
                            <div>
                                <div class="line1 line">
                                    <div>
                                        No classes will be held on 21st Nov
                                    </div>
                                    <div class="is-shown-icon">
                                      
                                    </div>

                                </div>
                                
                                <div class="line3 line">
                                    <div class="announce-date">
                                        15-Sep-2018 at 07:21 pm
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="line1 line">
                                    <div>
                                        No classes will be held on 21st Nov
                                    </div>
                                    <div class="is-shown-icon">
                                      
                                    </div>

                                </div>

                                <div class="line2 line">
                                    <span>Class:</span> Basics of Algebra
                                </div>
                                
                                <div class="line3 line">
                                    <div class="announce-date">
                                        15-Sep-2018 at 07:21 pm
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="line1 line">
                                    <div>
                                        No classes will be held on 21st Nov
                                    </div>
                                    <div class="is-shown-icon">
                                      
                                    </div>

                                </div>
                                
                                <div class="line3 line">
                                    <div class="announce-date">
                                        15-Sep-2018 at 07:21 pm
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="alert-seen">
                            <div>
                                <div class="line1 line">
                                    <div>
                                        No classes will be held on 21st Nov
                                    </div>
                                    <div class="is-shown-icon">
                                         
                                    </div>

                                </div>

                                <div class="line2 line">
                                    <span>Course:</span> Advanced Mathematics
                                </div>
                                
                                <div class="line3 line">
                                    <div class="announce-date">
                                        15-Sep-2018 at 07:21 pm
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li class="alert-seen">
                            <div>
                                <div class="line1 line">
                                    <div>
                                        No classes will be held on 21st Nov
                                    </div>
                                    <div class="is-shown-icon">
                                       
                                    </div>

                                </div>

                                <div class="line2 line">
                                    <span>Course:</span> Advanced Mathematics
                                </div>
                                
                                <div class="line3 line">
                                    <div class="announce-date">
                                        15-Sep-2018 at 07:21 pm
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li>
                            <div>
                                <div class="line1 line">
                                    <div>
                                        No classes will be held on 21st Nov
                                    </div>
                                    <div class="is-shown-icon"> 
                                    </div>

                                </div>

                                <div class="line2 line">
                                    <span>Course:</span> Advanced Mathematics
                                </div>
                                
                                <div class="line3 line">
                                    <div class="announce-date">
                                        15-Sep-2018 at 07:21 pm
                                    </div>
                                </div>

                            </div>
                        </li>
                        
                    </ul>

                    <div class="alert-buttons">
                        <button>
                            SHOW ALL
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </a>  