
    <a href="#" class="alert-anchor">
        <div class="alert alert-badge-icon">
            <img id="alert-icon-to-white" [style.filter] = "isEntered ? 'brightness(0) invert(1)' : 'none'" class="alert-icon" src="../../assets/image/icons/alerts.svg" alt="">
            <div id="alert-number-badge" class="badge-number" *ngIf="!isEntered">
                2
            </div>
            <div class="alert-div" id="{{isEntered ? 'alert-div-hover' : ''}}">
                <div class="alert-subdiv">
                    <ul class="alert-list" >
                        <li *ngFor="let alert of alert_data" [ngClass]="{'alert-seen': alert.isSeen}">
                            <div>
                                <div class="line1 line">
                                    <div>
                                        {{alert.message}}
                                    </div>
                                    <div class="is-shown-icon">
                                      
                                    </div>

                                </div>

                                <div class="line2 line" *ngIf="alert.course!=''">
                                    <span> Course:</span> {{alert.course}}
                                </div>
                                <div class="line2 line" *ngIf="alert.class!=''">
                                    <span> Class:</span> {{alert.class}}
                                </div>

                                <div class="line3 line">
                                    <div class="announce-date">
                                        {{alert.date}} at {{alert.time}}
                                    </div>
                                </div>

                            </div>
                        </li>
                        
                        
                    </ul>

                    <div class="alert-buttons">
                        <button>
                            SHOW ALL
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </a>  