<div class="footer">
    <div class="bottom-nav">
        <a href="#">
            <span class="bottom-nav-items">About</span>
        </a>
        <a href="#">
            Contact Us
        </a>
    </div>
    <div class="copyright">
        <div class="footer-logo">
            <img src="../../../assets/image/icons/logo used in footer.svg" alt="">
        </div>
        <div class="footer-text">
            Copyright &#169; 2020-2021 <span id="zeus"> &nbsp;&nbsp;Zeus Systems Pvt. Ltd.&nbsp;&nbsp;</span>
            All rights reserved.
        </div>
    </div>
</div>
